a {
    color: white;
}

.header {
    height: 71px;
    line-height: 50px;
    font-size: 21px;
    color: white;
    background-color: #11d9e6;
}

.header li a {
    color: white;
}

.header li a:hover {
    color: #2F3133;
}

.header .nav>li>a {
    padding-left: 25px;
    padding-right: 25px;
    line-height: 50px;
}

.btn-logout {
    margin-top: 15px;
    color: #2F3133;
}

.container {
    width: 1200px;
}

.main-navigation {
    padding: 20px 15px;
    width: 290px;
    /*padding-top: 20px;*/
    background-color: #AEAEAE;
}

.main-navigation .row {
    margin-left: 0;
}

.main-content {
    width: 910px;
    padding-top: 20px;
    padding-left: 20px;
}

.footer {
    width: 100%;
    height: 125px;
    background-color: #3e3e3e;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
}

.footer .copy-right {
    padding: 50px 0;
    color: white;
    font-size: 16px;
}

.footer .about {
    padding: 50px 20px;
}

.footer .about>a {
    color: white;
    font-size: 16px;
}

/* About */
.my {
    width: 125px;
    height: 125px;
    margin: 20px auto 30px;
    border-radius: 62.5px;
    overflow: hidden;
}
